################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Grade Calculator/bin/Debug
/Grade Calculator/obj
/Ticket Price Calculator/bin/Debug
/Ticket Price Calculator/obj
/Triangle Type Identifier/bin/Debug
/Triangle Type Identifier/obj
