################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Grade Calculator/bin/Debug
/Grade Calculator/obj
